/* 1. 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
.header .logo {
  position: relative;
}
.header .logo a h1 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-left: 50px;
}
ul,
li {
  list-style: none;
  margin-right: 30px;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  border: none;
}
button {
  background-color: #b38e5d;
  padding: 15px;
  border: none;
}
.languge-btn span {
  font-size: 16px;
  color: #fff;
  margin-right: 30px;
  background: none;
  padding: 30px;
  border: none;
}

/* 헤더  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 1000;
  background-color: #3b2114;
}

.header .inner {
  max-width: 1200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 50px;
}
.language-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #fff;
}

/* 네비게이션 */
.nav {
  position: relative;
}

.nav > ul {
  display: flex;
  gap: 40px;
}
.nav > ul > li {
  position: relative;
  padding: 10px;
}
.nav > ul > li > a {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}
.nav > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #b38e5d;
  transition: all 0.3s;
  transform: translateX(50%);
}

.nav > ul > li:hover > a {
  color: #b38e5d;
}

/* 서브메뉴 */
.submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 160px;
  padding: 10px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  background-color: #fff;
  transition: all 0.3s;
  transform: translateX(-50%) translateY(10px);
  border-radius: 8px;

  /* 등장 효과 설정 */
  opacity: 0;
}

.nav > ul > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.submenu li a {
  padding: 12px 20px;
  font-size: 15px;
  color: #666;
  text-align: center;
  transition: all 0.2s;
}

.submenu li a:hover {
  background-color: #f9f4ee;
  color: #b38e5d;
}

/* 히어로 액션 */
.main {
  position: absolute;
}
.hero-section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
video {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.main .title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -30%);
  text-align: center;
  color: #fff;
}
.main .title p {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.main .sub-title {
  position: relative;
}
.main .sub-title p {
  position: relative;
  font-size: 24px;
  color: #fff;
  margin-top: 10px;
}
.chocolate-btn span {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  color: #3b2114;
}
.product-section {
  background-color: #4d2d1e;
  color: #fff;
  padding: 60px 20px;
  justify-items: center;
  align-items: center;
  font-size: 24px;
}

/* 아이템 */
.item-section {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #4d2d1e;
}
.item-section .title {
  position: relative;
}
.section-title {
  position: relative;
  display: flex;
}
.section-title .title h2 {
  position: relative;
  font-size: 24px;
  color: #4d2d1e;
  letter-spacing: 1.5px;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  margin: 100px;
  height: 442px;
  width: 550px;
}
